_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
cv.log
cv.aux
*.aux
*.synctex.gz
.vscode/settings.json

.codegpt
joe-tracker/job_postings_by_week_fed.png
joe-tracker/job_postings_by_week_finance.png
joe-tracker/job_postings_by_week_non_us.png
joe-tracker/job_postings_by_week_region_asia.png
joe-tracker/job_postings_by_week_region_canada_europe.png
joe-tracker/job_postings_by_week_region_us.png
joe-tracker/job_postings_by_week_us.png
joe-tracker/job_postings_by_week.png
joe-tracker/job_postings_rolling_4wk_fed.png
joe-tracker/job_postings_rolling_4wk_finance.png
joe-tracker/job_postings_rolling_4wk_non_us.png
joe-tracker/job_postings_rolling_4wk_region_asia.png
joe-tracker/job_postings_rolling_4wk_region_canada_europe.png
joe-tracker/job_postings_rolling_4wk_region_us.png
joe-tracker/job_postings_rolling_4wk_us.png
joe-tracker/job_postings_rolling_4wk.png
